<h1>Twiiter Analytic</h1>
<a href="{% url 'collect_tweets:monitor'%}">Monitor</a>
<a href="{% url 'collect_tweets:delete'%}">Delete</a>
<br/>
<br/>
<label>All account:</label>
{% if popular_account %}
    <ul>
    {% for account in popular_account %}
        <li><a href="{% url 'collect_tweets:search' account.handle %}">{{ account.handle }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No handles are available.</p>
{% endif %}
