<form action="{% url 'collect_tweets:register'%}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Monitor Account</h1></legend>
        <label>Twitter Handle: </label>
        <input type="text" name="handle">
    </fieldset>
    <input type="submit">
</form>
<a href="{% url 'collect_tweets:index' %}">Home</a>
