<h1>Successfully Registered Handle {{account.handle}}</h1>
<h1>ID: {{account.id}}</h1>
<h1>Tweets count: {{account.count}}</h1>
<a href="{% url 'collect_tweets:search' account.handle  %}">{{ account.handle }}</a>
<a href="{% url 'collect_tweets:index' %}">Home</a>
